* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
.flexcontainer {
    display:flex
}
img {
    width:auto;
    height: 300px;
    
}

h1 {
    color:rgb(35, 2, 77);
}